lib-cov
*.seed
*.log
*.log.*
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.class
classes
.settings
.classpath
.project
.metadata

config.properties
jdbc.properties
staticConfig.properties


pids
logs
.idea

npm-debug.log
node_modules

target/*
/target/
src/main/resources/staticConfig.properties
src/main/webapp/demo

.pom.xml.swp
